.idea/
target/
*.iml
.*orig
.bloop
.vscode
.metals
metals.sbt
*.jar
!gradle/wrapper/gradle-wrapper.jar
junit.xml
# Ignore Mac DS_Store files
.DS_Store
*.log.logstashjson
out/
*.bsp
*.swp
.gradle
*build